* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #3b3b3b;
}

.calc {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #ffffff;
    font: 24px Arial, sans-serif;
    font-size: 50px;
}

.calculator {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 550px;
    margin: auto;
    margin-top: 100px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.buttons .operator {
  background-color: #ff9500;
  color: white;
}

.btn {
  border: none;
  outline: none;
  padding: 20px;
  font-size: 20px;
  border-radius: 40px;
  cursor: pointer;
  background-color: #c1c1c1;
}

.btn:hover {
  opacity: 0.8;
}

.display {
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 24px;
  padding: 10px;
  background-color: #3b3b3b;
  color: #ffffff
}

